* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero {
    min-height: 100vh;
    background: linear-gradient(120deg, #5b5df5, #26c6da);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
} 


/*=================*/
/* Header Elements */
/*=================*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo {
    height: 180px;
    width: fit-content;
}

.pages {
    display: flex;
    gap: 30px;
    margin-right: 70px;
}

.pages ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.pages a {
    text-decoration: none;
}

/*====================*/
/* Login Box Elements */
/*====================*/
.login { 
    width: 30%;
    border: 3px solid aliceblue;
    border-radius: 5px;
    box-shadow: 3px 3px 40px black;
    background-color: aliceblue;
    padding: 40px 20px 40px 20px;
}

.login form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.login input {
    border-radius: 10px;
    border: 2px solid aliceblue;
    color: black;
    background-color: rgb(224, 223, 223);
    padding: 15px;
    width: 90%;
}

.login label {
    color : black;
    font-size: 25px;
}

input::placeholder {
    color: rgba(128, 128, 128, 0.6);
}

#btnLogin {
    width: 100%;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid rgb(40, 101, 223);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    padding: 10px 30px 10px 30px;
    background-color: rgb(40, 101, 223);
    transform: scale(0.85);
}

#btnLogin:hover {
    cursor: pointer;
    background: linear-gradient(120deg, #5b5df5, #26c6da);
    transform: scale(0.9);
    transition: 0.3s;
}

.logErrors {
    width: 80%;
    background: #ffe6e6;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
}

.logErrors p {
    color: red;
    margin: 5px 0;
}

.valid {
    width: 80%;
    background: #9ee1a5;
    border-radius: 5px;
    padding: 10px;
}

.valid p {
    color: rgb(95, 129, 81);
    margin: 5px 0;
}
